:root {
  --control-color: 200, 200, 200;
  --active-color: 0, 200, 0;
}

.App {
  text-align: center;
  padding-bottom: 50px;
}

.Selected-Song {
  font-weight: bold;
}

.Controls {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: grey;
}

.Controls div {
  display: inline-block;
}

.player {
  text-align: center;
}

.player div {
  margin-left: 10px;
  margin-right: 10px;
}

.player .player__repeat button,
.player .player__backward button,
.player .player__shuffle button,
.player .player__forward button {
  background: transparent;
  border: 1px solid rgb(var(--control-color));
  color: rgb(var(--control-color));
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 35px;
  outline: none;
}

.player .player__main button:hover,
.player .player__shuffle button:hover,
.player .player__repeat button:hover,
.player .player__backward button:hover,
.player .player__forward button:hover {
  color: rgba(var(--control-color), 0.7);
  border: 1px solid rgba(var(--control-color), 0.7);
}

.player .player__main {
  border: 1px solid rgb(var(--control-color));
}

.player .player__main button {
  color: rgb(var(--control-color));
  background: transparent;
  width: 50px;
  height: 50px;
  border: none;
  font-size: 35px;
  outline: none;
}
.player .player__repeat__active button,
.player .player__shuffle__active button {
  background: transparent;
  border: 1px solid rgb(var(--active-color));
  color: rgb(var(--active-color));
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: 35px;
  outline: none;
}
.player .player__repeat__active button:hover,
.player .player__shuffle__active button:hover {
  color: rgba(var(--active-color), 0.7);
  border: 1px solid rgba(var(--active-color), 0.7);
}
